@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --customGreen: #2aad93;
  --font-sans: 'Outfit', sans-serif; /* Define Outfit properly */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a2c1c;
    --foreground: #ededed;
  }
}

@media (max-width: 768px) {
  body {
    padding-bottom: 80px;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans); /* Use the CSS variable */
  max-width: 100%;
  overflow-x: hidden;
}


/* Add these to your existing CSS */

.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a2c1c;
}

::-webkit-scrollbar-thumb {
  background: #10B981;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #059669;
}